

<div class="row">
    <% @posts.each do |post| %>
  <div class="col col-md-6">
      <div class="card" style="width: 30rem; margin-right: 150px;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= post.name %></h5>
          <p class="card-text"><%= post.text %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
    <% end %>
</div>